body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-areas: 'h h' 'n m' 'f f';
  grid-template-rows: 170px auto 70px;
}

header > img { 
  width: 150px;
}

header {
   background-color: coral;
   color: white;
   font-size: 1.2em;
   padding:10px;
   grid-area: h;
   display: flex;
   align-items: center;
}

header > section {
  text-align: center;
  width: calc(100% - 320px);
}




footer { 
  background-color: coral;
  color: white;
  padding: 10px 20%;
  text-align: right;
  grid-area: f;
}
