/*--Banner--*/
#banner{
  background: linear-gradient(#8fd457, #558cf2);
  background-size: cover;
  background-position: center;
  height: 20vh;
}

.logo{
  position: absolute;
  left: 800;
  right: 0;
  width: 300px;
  padding-top: 20px;

}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  height: 100vh;
  grid-template-columns: 200px auto;
  grid-template-areas: 'h h' 'n m' 'f f';
  grid-template-rows: 170px auto 70px;
}

.auth{
  position: relative;
  bottom: 150;
}

/*--Footer--*/
#footer{
  background: linear-gradient(#8fd457, #558cf2);
  background-size: cover;
  background-position: center;
  height: 30vh;
}

.footer-text{
  text-align: center;
  color: #fff;
  padding-top: 20px;
}

.footer-text p{
  font-size: 20px;
  font-style: italic;
}