*{
  font-family: 'VT323', monospace;
}

/*--Banner--*/
#banner{
  background: linear-gradient(#8fd457, #558cf2);
  background-size: cover;
  background-position: center;
  height: 20vh;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 10px;
}

a:link{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-top: 10px;
}

body {
  background-color: rgb(255, 255, 255);
  margin: 0;
  height: 100vh;
  grid-template-columns: 200px auto;
  grid-template-areas: 'h h' 'n m' 'f f';
  grid-template-rows: 170px auto 70px;
}

.auth{
  position: relative;
  bottom: 150;
}

/*--Footer--*/
#footer{
  background: linear-gradient(#8fd457, #558cf2);
  background-size: cover;
  background-position: center;
  height: 30vh;
}

.footer-text{
  text-align: center;
  color: #fff;
  padding-top: 20px;
  font-style: italic;
}

.footer-text p{
  font-size: 20px;
  font-style: italic;
}