*{
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
}

/*--images--*/
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 { 
  width: 1864px;
  height: 946px;
}
.image2 {
  position: absolute;
  top: 750px;
  left: 790px; 
  width: 15%;
}
.image3 {
  width: 1864px;
  height: 946px;
}
/*--Button--*/
.banner-btn{
  margin: 70px auto 0;
  position: absolute;
  left: 70px;
  top: 620px;
}

.banner-btn1{
  margin: 70px auto 0;
  position: absolute;
  left: 70px;
  top: 620px;
}

.banner-btn a{
  font-size: 31px;
  width: 274px;
  height: 40px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 13px 0;
}

.banner-btn1 a{
  font-size: 31px;
  width: 325px;
  height: 51px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 13px 0;
}

#btn1{
  top: 685px;
  left: 780px;
}

#btn2{
  top: 512px;
  left: 493px;
}

#btn3{
  top: 512px;
  left: 1030px;
}


/*--text/image--*/
.contain {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.position {
  position: absolute;
  top: 250px;
  left: 300px;
}