*{
  font-family: 'VT323', monospace;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 0px auto;
  grid-template-areas: 'h h' 'n m' 'f f';
  grid-template-rows: 170px auto 70px;
}

img {
  width: 1864px;
  height: 946px;
}


/*Button to menu*/
.banner-btn{
  margin: 70px auto 0;
  position: absolute;
  left: 670px;
  top: 620px;
}

.banner-btn a{
  font-size: 31px;
  width: 240px;
  height: 40px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 13px 0;
}

/*Login Button*/
#LoginButton {
  position: absolute;
  left: 941px;
  top: 689px;
  color: transparent;
  font-size: 31px;
  width: 235px;
  height: 65px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 13px 0;
}

#RegisterButton {
  position: absolute;
  left: 940px;
  top: 689px;
  color: transparent;
  font-size: 31px;
  width: 235px;
  height: 65px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 13px 0;
}

#name {
  position: absolute;
  left: 670px;
  top: 475px;
  width: 516px;
  height: 27px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 13px 0;
  text-size-adjust:calc();
  font-size: 50px;
}

#password {
  position: absolute;
  left: 670px;
  top: 550px;
  width: 516px;
  height: 27px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 13px 0;
  font-size: 50px;
}

main {
  grid-area: m;
  display: flex;
  align-items: center;
  justify-content: center;
}